In [2]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print (','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [3]:
l=[]
for i in range(2000, 3201):
    if (i%7==0):
        if (i%5!=0):
            l.append(str(i))
            
        

print (','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [5]:
for a in range(10):
    n= int(input())
    m= int(input())
    sum = n + m
    if sum >100:
        break
print(sum)

56
67
123

In [8]:
flag = True

while flag:
    number = input("Enter your favourite number")
    print(number)
    if number=="q":
        flag= False

Enter your favourite numberq
q

In [14]:
emp = []
gEmp = []
bEmp = []

flag  = True
while flag:
    employee = input("Enter the employee name to be added")
    
    if employee=="q":
        flag = False
    else:
        emp.append(employee)
    
    
    
print("The employee in the list are: " , emp)

flag = True

while Flag:

Enter the employee name to be addednasir
Enter the employee name to be addedhussain
Enter the employee name to be addedasad
Enter the employee name to be addedsaba
Enter the employee name to be addedkami
Enter the employee name to be addedq
The employee in the list are:  ['nasir', 'hussain', 'asad', 'saba', 'kami']

In [15]:
name = "Pakistan"

In [16]:
name[2:4]

'ki'

In [17]:
name[-1]

'n'

In [18]:
for char in "pakistan":
    print(char
         )

p
a
k
i
s
t
a
n

In [20]:
name.startswith('q')

False